<div class="bs-docs-header" id="content" tabindex="-1">
    <div class="container">
        <h1>生成项目</h1>
        <p>请填写项目基本信息，依赖项目，数据源等信息，可以自动生成Spring Boot项目配置及代码。</p>
    </div>
</div>
<div class="container bs-docs-container">
    <div class="row">
        <div class="col-md-9" role="main">
            <form class="form-horizontal">
                <div class="bs-docs-section">
                    <h1 id="project_info" class="page-header">项目基本信息</h1>
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h4 class="panel-title">项目信息
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse_project_info">
                                    <span class="glyphicon glyphicon-align-justify pull-right"></span>
                                </a>
                            </h4>
                        </div>
                        <div id="collapse_project_info" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <div class="form-group">
                                    <label for="groupId" class="col-sm-3 control-label">groupId</label>
                                    <div class="col-sm-5">
                                        <input type="text" class="form-control" id="groupId" ng-model="groupId"/>
                                    </div>
                                    <div class="col-sm-4">组织的唯一标识符</div>
                                </div>
                                <div class="form-group">
                                    <label for="artifactId" class="col-sm-3 control-label text-danger">*artifactId</label>
                                    <div class="col-sm-5">
                                        <input type="text" class="form-control" id="artifactId" ng-model="artifactId"/>
                                    </div>
                                    <div class="col-sm-4">项目的唯一标识符</div>
                                </div>
                                <div class="form-group">
                                    <label for="version" class="col-sm-3 control-label">version</label>
                                    <div class="col-sm-5">
                                        <input type="text" class="form-control" id="version" ng-model="version"/>
                                    </div>
                                    <div class="col-sm-4">项目的版本</div>
                                </div>
                                <div class="form-group">
                                    <label for="name" class="col-sm-3 control-label text-danger">*name</label>
                                    <div class="col-sm-5">
                                        <input type="text" class="form-control" id="name" ng-model="name"/>
                                    </div>
                                    <div class="col-sm-4">项目名称</div>
                                </div>
                                <div class="form-group">
                                    <label for="description" class="col-sm-3 control-label">description</label>
                                    <div class="col-sm-5">
                                        <input type="text" class="form-control" id="description" ng-model="description"/>
                                    </div>
                                    <div class="col-sm-4">项目简要介绍</div>
                                </div>
                                <div class="form-group">
                                    <label for="springBootVersion" class="col-sm-3 control-label">spring-boot.version</label>
                                    <div class="col-sm-5">
                                        <input type="text" class="form-control" id="springBootVersion" ng-model="springBootVersion"/>
                                    </div>
                                    <div class="col-sm-4">SpringBoot版本</div>
                                </div>
                                <div class="form-group">
                                    <label for="javaVersion" class="col-sm-3 control-label">java.version</label>
                                    <div class="col-sm-5">
                                        <input type="text" class="form-control" id="javaVersion" ng-model="javaVersion"/>
                                    </div>
                                    <div class="col-sm-4">JDK版本</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h4 class="panel-title">依赖项目
                                <a class="pull-right" data-toggle="collapse" href="#collapse_project_dependency">
                                    <span class="glyphicon glyphicon-align-justify pull-right"></span>
                                </a>
                                <!--<a class="pull-right">-->
                                    <!--<span class="glyphicon glyphicon-plus"></span>-->
                                <!--</a>-->
                            </h4>
                        </div>
                        <div id="collapse_project_dependency" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>选择</th>
                                        <th>项目</th>
                                        <th>groupId</th>
                                        <th>artifactId</th>
                                        <th>version</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="dependency in dependencies">
                                        <!--<td><input type="checkbox" ng-checked="{{dependency.selected}}"></td>-->
                                        <td><input type="checkbox" ng-model="dependency.selected" ng-true-value='true'  ng-false-value="false"></td>
                                        <td><p>{{dependency.name}}</p></td>
                                        <td><p>{{dependency.groupId}}</p></td>
                                        <td><p>{{dependency.artifactId}}</p></td>
                                        <td><p>{{dependency.version}}</p></td>
                                        <td></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="bs-docs-section">
                    <h1 id="database_info" class="page-header">数据源信息</h1>
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h4 class="panel-title">数据库连接
                                <a class="pull-right" data-toggle="collapse" href="#collapse_database">
                                    <span class="glyphicon glyphicon-align-justify pull-right"></span>
                                </a>
                            </h4>
                        </div>
                        <div id="collapse_database" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <div class="form-group">
                                    <label for="dbType" class="col-sm-2 control-label">类型</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" id="dbType" ng-model="dbType" readonly />
                                    </div>
                                    <div class="col-sm-6"></div>
                                </div>
                                <div class="form-group">
                                    <label for="dbIP" class="col-sm-2 control-label">IP地址</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" id="dbIP" ng-model="dbIP"/>
                                    </div>
                                    <div class="col-sm-6"></div>
                                </div>
                                <div class="form-group">
                                    <label for="dbPort" class="col-sm-2 control-label">端口号</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" id="dbPort" ng-model="dbPort"/>
                                    </div>
                                    <div class="col-sm-6"></div>
                                </div>
                                <div class="form-group">
                                    <label for="dbName" class="col-sm-2 control-label">数据库名</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" id="dbName" ng-model="dbName"/>
                                    </div>
                                    <div class="col-sm-6"></div>
                                </div>
                                <div class="form-group">
                                    <label for="dbUsername" class="col-sm-2 control-label">登录用户</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" id="dbUsername" ng-model="dbUsername"/>
                                    </div>
                                    <div class="col-sm-6"></div>
                                </div>
                                <div class="form-group">
                                    <label for="dbPassword" class="col-sm-2 control-label">登录密码</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" id="dbPassword" ng-model="dbPassword"/>
                                    </div>
                                    <div class="col-sm-6"></div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-9">
                                        <button type="submit" class="btn btn-primary" ng-click="testDBConnection();">
                                            <span class="glyphicon glyphicon-sort"></span> 连接测试
                                        </button>
                                        <button type="submit" class="btn btn-primary" ng-click="readTables();">
                                            <span class="glyphicon glyphicon-list-alt"></span> 读取表
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h4 class="panel-title">选择数据库表
                                <a class="pull-right" data-toggle="collapse" href="#collapse_table">
                                    <span class="glyphicon glyphicon-align-justify pull-right"></span>
                                </a>
                            </h4>
                        </div>
                        <div id="collapse_table" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>选择</th>
                                        <th>名称</th>
                                        <th>类型</th>
                                        <th>备注</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="table in tables">
                                        <td><input type="checkbox" ng-model="table.selected" ng-true-value='true'  ng-false-value="false"></td>
                                        <td><p>{{table.name}}</p></td>
                                        <td><p>{{table.type}}</p></td>
                                        <td><p>{{table.remark}}</p></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="bs-docs-section">
                    <h1 id="package_info" class="page-header">包信息</h1>
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h4 class="panel-title">Package信息
                                <a class="pull-right" data-toggle="collapse" href="#collapse_package">
                                    <span class="glyphicon glyphicon-align-justify pull-right"></span>
                                </a>
                            </h4>
                        </div>
                        <div id="collapse_package" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <div class="form-group">
                                    <label for="author" class="col-sm-4 control-label text-danger">*作者</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="author" ng-model="author"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="javaDir" class="col-sm-4 control-label">源代码目录</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="javaDir" ng-model="javaDir"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="resourcesDir" class="col-sm-4 control-label">资源目录</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="resourcesDir" ng-model="resourcesDir"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="basePackage" class="col-sm-4 control-label text-danger">*基础package目录</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="basePackage" ng-model="basePackage"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="configPackage" class="col-sm-4 control-label">配置文件目录</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="configPackage" ng-model="configPackage"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="webPackage" class="col-sm-4 control-label">接口Controller目录</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="webPackage" ng-model="webPackage"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="servicePackage" class="col-sm-4 control-label">服务Service目录</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="servicePackage" ng-model="servicePackage"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="daoPackage" class="col-sm-4 control-label">持久化DAO目录</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="daoPackage" ng-model="daoPackage"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="entityPackage" class="col-sm-4 control-label">实体对象目录</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="entityPackage" ng-model="entityPackage"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="dtoPackage" class="col-sm-4 control-label">数据传输对象目录</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="dtoPackage" ng-model="dtoPackage"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-9">
                        <button type="submit" class="btn btn-primary" ng-click="save();">
                            <span class="glyphicon glyphicon-save"></span> 生成
                        </button>
                        <button type="submit" class="btn btn-primary" ng-click="preview();">
                            <span class="glyphicon glyphicon-eye-open"></span> 预览
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-3" role="complementary">
            <nav class="bs-docs-sidebar hidden-print hidden-xs hidden-sm affix-top">
                <ul class="nav bs-docs-sidenav">
                    <!--<li><a href="#project_info" >项目基本信息</a></li>-->
                    <!--<li><a href="#database_info">数据源信息</a></li>-->
                    <!--<li><a href="#table_info">选择数据库表</a></li>-->
                    <!--<li><a class="back-to-top" href="#top">返回顶部</a></li>-->
                    <li><a href="javascript:document.getElementById('project_info').scrollIntoView()">项目基本信息</a></li>
                    <li><a href="javascript:document.getElementById('database_info').scrollIntoView()">数据源信息</a></li>
                    <li><a href="javascript:document.getElementById('table_info').scrollIntoView()">选择数据库表</a></li>
                    <li><a class="back-to-top" href="javascript:document.getElementById('top').scrollIntoView()">返回顶部</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>